/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b0939
 *   - http://typekit.com/eulas/00000000000000003b9b0938
 *   - http://typekit.com/eulas/00000000000000003b9b0934
 *   - http://typekit.com/eulas/00000000000000003b9b0932
 *   - http://typekit.com/eulas/00000000000000003b9b0933
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-07-24 09:04:43 UTC"}*/

@import url("../p.typekit.net/p1a79.css?s=1&amp;k=drb4fig&amp;ht=tk&amp;f=173.174.175.5474.5475&amp;a=749775&amp;app=typekit&amp;e=css");

@font-face {
font-family:"proxima-nova";
src:url("af/27776b/00000000000000003b9b0939/27/le3ca?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n6&amp;v=3") format("woff2"),url("af/27776b/00000000000000003b9b0939/27/de3ca?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n6&amp;v=3") format("woff"),url("af/27776b/00000000000000003b9b0939/27/ae3ca?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n6&amp;v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("af/256534/00000000000000003b9b0938/27/l79fd?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i6&amp;v=3") format("woff2"),url("af/256534/00000000000000003b9b0938/27/d79fd?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i6&amp;v=3") format("woff"),url("af/256534/00000000000000003b9b0938/27/a79fd?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i6&amp;v=3") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("af/4838bd/00000000000000003b9b0934/27/l5e6c?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n4&amp;v=3") format("woff2"),url("af/4838bd/00000000000000003b9b0934/27/d5e6c?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n4&amp;v=3") format("woff"),url("af/4838bd/00000000000000003b9b0934/27/a5e6c?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("af/437c3d/00000000000000003b9b0932/27/l1903?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n3&amp;v=3") format("woff2"),url("af/437c3d/00000000000000003b9b0932/27/d1903?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n3&amp;v=3") format("woff"),url("af/437c3d/00000000000000003b9b0932/27/a1903?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=n3&amp;v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"proxima-nova";
src:url("af/f02b29/00000000000000003b9b0933/27/l0784?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i3&amp;v=3") format("woff2"),url("af/f02b29/00000000000000003b9b0933/27/d0784?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i3&amp;v=3") format("woff"),url("af/f02b29/00000000000000003b9b0933/27/a0784?primer=18e262c3936cf6032fe67599653256d43f6cab0e37a36efd92af498465c2c82a&amp;fvd=i3&amp;v=3") format("opentype");
font-style:italic;font-weight:300;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
